<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        关闭
      </ion-button>
    </ion-buttons>
    <ion-title>客户档案上传</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Excel定义</ion-label>
      <ion-select ok-text="选择" cancel-text="取消" [(ngModel)]="header.value">
        <ion-select-option [value]="x.id" *ngFor="let x of xlsx.xlsxes | async">{{ x.name }}</ion-select-option>
      </ion-select>
      <ion-button color="secondary" (click)="setting.xlsxes()">
        设置
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="header.value">
    <ion-list-header>
      文件上传
    </ion-list-header>
    <ion-item>
      <input ion-input type="file" ng2FileSelect [uploader]="uploader" accept=".xlsx">
    </ion-item>
    <ion-item>
      <ion-buttons>
        <ion-button color="secondary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          上传
        </ion-button>
        <ion-button color="dark" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
          取消
        </ion-button>
        <ion-button color="danger" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          删除
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
