<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="isEdit=true" *ngIf="!isEdit">
        编辑
      </ion-button>
      <ion-button (click)="save()" *ngIf="isEdit">
        保存
      </ion-button>
    </ion-buttons>
    <ion-title>客户档案上传</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        关闭
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>姓名</ion-label>
      <ion-input required type="number" placeholder="姓名所在列" [(ngModel)]="pro.Name" min="1" max="30" [disabled]="!isEdit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>电话</ion-label>
      <ion-input type="number" placeholder="联系方式所在列, 0为没有" [(ngModel)]="pro.Phone" min="0" max="30" [disabled]="!isEdit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>备注</ion-label>
      <ion-input type="number" placeholder="备注信息所在列, 0为没有" [(ngModel)]="pro.Note" min="0" max="30" [disabled]="!isEdit"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list-header>
    扩展信息
    <ion-button color="secondary" (click)="exp.push({})" size="small" *ngIf="isEdit">增加</ion-button>
  </ion-list-header>
  <ion-item *ngFor="let e of exp">
    <ion-input type="text" placeholder="扩展信息名称" [(ngModel)]="e.name" maxlength="20" minlength="1" [disabled]="!isEdit"></ion-input>
    <ion-input type="number" placeholder="扩展信息所在列" [(ngModel)]="e.value" min="0" max="30" [disabled]="!isEdit"></ion-input>
    <ion-button color="danger" (click)="remove(e)" size="small" *ngIf="isEdit">删除</ion-button>
  </ion-item>
  <ion-list-header>
    文件上传
  </ion-list-header>
  <ion-item>
    <input ion-input type="file" ng2FileSelect [uploader]="uploader"  accept=".xlsx">
  </ion-item>
  <ion-item>
    <ion-buttons>
      <ion-button color="secondary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        上传
      </ion-button>
      <ion-button color="dark" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        取消
      </ion-button>
      <ion-button color="danger" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        删除
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>
