<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        取消
      </ion-button>
    </ion-buttons>
    <ion-title>{{ obj.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="customerForm.valid && save()" [disabled]="customerForm.invalid">
        保存
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="center" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="trade()" color="warning">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <form #customerForm="ngForm">
    <ion-list>
      <ion-item-group>
        <ion-item [class.error]="name.invalid && name.touched">
          <ion-label fixed>客户姓名</ion-label>
          <ion-input #name="ngModel" [(ngModel)]="obj.name" name="name" type="text" placeholder="客户姓名最长30" maxlength="30"
            required></ion-input>
        </ion-item>
        <ion-item color="danger" *ngIf="name.invalid && name.touched">
          <p [hidden]="!name.errors?.required">请输入客户姓名</p>
          <p [hidden]="!name.errors?.maxlength">客户姓名最长30</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item [class.error]="phone.invalid && phone.touched">
          <ion-label fixed>联系方式</ion-label>
          <ion-input #phone="ngModel" [(ngModel)]="obj.phone" name="phone" type="text" placeholder="联系方式最长30" maxlength="30"></ion-input>
        </ion-item>
        <ion-item color="danger" *ngIf="phone.invalid && phone.touched">
          <p [hidden]="!phone.errors?.maxlength">联系方式最长30</p>
        </ion-item>
      </ion-item-group>
      <rich-ext [type]="'C'" [data]="obj.extend"></rich-ext>
      <rich-tags key="tag-C" [tags]="obj.tags"></rich-tags>
      <ion-item-group>
        <ion-item [class.error]="note.invalid && note.touched">
          <ion-textarea #note="ngModel" [(ngModel)]="obj.note" name="note" rows="5" placeholder="备注最长100" maxlength="100"></ion-textarea>
        </ion-item>
        <ion-item color="danger" *ngIf="note.invalid && note.touched">
          <p [hidden]="!note.errors?.maxlength">备注最长100</p>
        </ion-item>
      </ion-item-group>
      <ion-item-divider *ngIf="obj.trades">
        <ion-label>
          订单
        </ion-label>
      </ion-item-divider>
      <ng-container *ngFor="let t$ of trades">
        <ion-item *ngIf="t$ | async as t; else loading" button (click)="trade(t)">
          <ion-label>
            {{ t.ca | date:'yyyy-MM-dd HH:mm:ss' }}
          </ion-label>
          <ion-badge>{{ t.orders?.length }}</ion-badge>
          <ion-badge color="warning">{{ t.total / 100 | currency:'￥' }}</ion-badge>
        </ion-item>
      </ng-container>
    </ion-list>
  </form>
</ion-content>

<ng-template #loading>
  <ion-spinner></ion-spinner>
  加载中...
</ng-template>
