<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="create()">
        新建
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="名称,拼音或声母" (ionChange)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button mini>
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button (click)="upload()">
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button (click)="download()">
        <ion-icon name="cloud-download"></ion-icon>
      </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>
  <ion-fab vertical="center" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="select()" color="secondary">
      <ion-icon name="pricetags"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list #il>
    <ion-item-divider>
      <ion-label>
        <ion-badge color="primary" *ngFor="let t of tags" (click)="removeTag(t)">{{ t }}</ion-badge>
      </ion-label>
      <ion-badge color="primary" *ngIf="itemService.has(paging.data)">{{ paging.total }}</ion-badge>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let i of paging.data">
      <ion-item button (click)="update(i)">
        <ion-label>{{ i.name }}</ion-label>
        <ion-badge *ngFor="let t of i.tags" [color]="hasTag(t)? 'primary' : 'secondary'">{{ t }}</ion-badge>
        <ion-badge color="warning">{{ i.price / 100 | currency:'￥' }}</ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="del(i, il)" color="danger">删除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="load($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
