<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        取消
      </ion-button>
    </ion-buttons>
    <ion-title>选择标签</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="select()">
        选择
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let t of tags$ | async">
        <ion-row>
          <ion-button (click)="select(t.name)">{{ t.name }}</ion-button>
        </ion-row>
        <ion-row>
          <ion-toggle (ionChange)="change(t.name)" [checked]="obj[t.name]"></ion-toggle>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
