<ion-header>
  <ion-toolbar>
    <ion-title>用户登录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #loginForm="ngForm">
    <ion-list>
      <ion-card *ngIf="!app || app?.isNew">
        <ion-card-header>
          <ion-card-title>新用户提示</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>新用户默认登录名:
            <span style="color:red">admin</span>
          </p>
          <p>新用户默认登录密码:
            <span style="color:red">{{ app?.version }}</span>
          </p>
          <p>登录后请及时更改登录名和密码</p>
        </ion-card-content>
      </ion-card>
      <ion-item-group>
        <ion-item [class.error]="nick.invalid && nick.touched">
          <ion-label fixed>登录名</ion-label>
          <ion-input #nick="ngModel" [(ngModel)]="obj.nick" name="nick" type="text" placeholder="用户姓名或手机号" minlength="3"
            maxlength="30" required></ion-input>
        </ion-item>
        <ion-item color="danger" *ngIf="nick.invalid && nick.touched">
          <p [hidden]="!nick.errors?.required">请输入登录名</p>
          <p [hidden]="!nick.errors?.maxlength">登录名最长30</p>
          <p [hidden]="!nick.errors?.minlength">登录名最短3</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item [class.error]="pass.invalid && pass.touched">
          <ion-label fixed>密码</ion-label>
          <ion-input #pass="ngModel" [(ngModel)]="obj.pass" name="pass" type="password" placeholder="登录密码" minlength="4"
            maxlength="30" required></ion-input>
        </ion-item>
        <ion-item color="danger" *ngIf="pass.invalid && pass.touched">
          <p [hidden]="!pass.errors?.required">请输入密码</p>
          <p [hidden]="!pass.errors?.maxlength">密码最长30</p>
          <p [hidden]="!pass.errors?.minlength">密码最短4</p>
        </ion-item>
      </ion-item-group>
      <ion-button (click)="login()" [disabled]="loginForm.invalid" size="large" expand="full">
        登录
      </ion-button>
    </ion-list>
  </form>
</ion-content>
