<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        取消
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="extForm.valid && ok()" [disabled]="extForm.invalid">
        保存
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #extForm="ngForm">
    <ion-list>
      <ion-item-divider>
        <ion-label>{{ title }}</ion-label>
        <ion-button color="secondary" (click)="exts.push({key:'', value:''})">增加</ion-button>
      </ion-item-divider>
      <ng-container *ngFor="let e of exts; let i = index">
        <ion-item>
          <ion-input #key="ngModel" name="key-{{i}}" [(ngModel)]="e.key" type="text" placeholder="扩展名称,1-20" maxlength="20"
            minlength="1" required></ion-input>
          <ion-input #value="ngModel" name="value-{{i}}" type="text" placeholder="扩展说明,最长30" [(ngModel)]="e.value" maxlength="30"></ion-input>
          <ion-button color="danger" (click)="remove(e)">删除</ion-button>
        </ion-item>
        <ion-item color="danger" *ngIf="key.invalid && key.touched">
          <p [hidden]="!key.errors?.required">请输入扩展名称</p>
          <p [hidden]="!key.errors?.maxlength">扩展名称最长20</p>
        </ion-item>
        <ion-item color="danger" *ngIf="value.invalid && value.touched">
          <p [hidden]="!value.errors?.maxlength">扩展说明最长30</p>
        </ion-item>
      </ng-container>
    </ion-list>
  </form>
</ion-content>
