<ion-header>
  <ion-toolbar>
    <ion-title>
      联系人
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="upload()">
        上传
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="center" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="group()">
      <ion-icon name="color-filter"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-list-header>
      <h1>{{ title }}</h1>
    </ion-list-header>
    <ion-item-sliding *ngFor="let c of customer.customers">
      <ion-item button (click)="open(c)">
        <!-- <ion-avatar slot="start">
          <img src="/assets/img/contact.png">
        </ion-avatar> -->
        <ion-label>
          <h2>{{ c.name }}</h2>
        </ion-label>
        <ion-badge *ngIf="c.trades">{{ c.trades.length }}</ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="customer.del(c)" color="danger">删除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
