<ion-header>
  <ion-toolbar>
    <ion-title>设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item button (click)="setting.users()">
      用户列表
    </ion-item>
    <ion-item button (click)="setting.tags()">
      标签定义
    </ion-item>
    <ion-item button (click)="ext.extCustomer()">
      客户扩展
    </ion-item>
    <ion-item button (click)="ext.extItem()">
      商品扩展
    </ion-item>
    <ion-item button (click)="setting.xlsxes()">
      Excel定义
    </ion-item>
    <ion-item button (click)="setting.profile()">
      账户设置
    </ion-item>
    <ion-item button (click)="about()">
      关于
    </ion-item>
  </ion-list>
</ion-content>
