<ion-tabs>
  <ion-tab label="客户" icon="contacts" href="/tabs/(customers:customers)">
    <ion-router-outlet name="customers"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="商品" icon="list" href="/tabs/(items:items)">
    <ion-router-outlet name="items"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="收银" icon="calculator" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="设置" icon="cog" href="/tabs/(setting:setting)">
    <ion-router-outlet name="setting"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
