<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        取消
      </ion-button>
    </ion-buttons>
    <ion-title>账户设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>昵称</ion-label>
      <ion-input type="text" placeholder="用户昵称" name="name" [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>电话</ion-label>
      <ion-input type="text" placeholder="联系方式" name="phone" [(ngModel)]="user.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>备注</ion-label>
      <ion-input type="text" placeholder="备注信息" name="note" [(ngModel)]="user.note"></ion-input>
    </ion-item>
    <ion-button (click)="pass()">修改密码</ion-button>
    <ion-button (click)="logout()">登出</ion-button>
  </ion-list>
</ion-content>
