<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        取消
      </ion-button>
    </ion-buttons>
    <ion-title>{{ user.nick }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="ok()" [disabled]="userForm.invalid">
        保存
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #userForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label fixed>昵称</ion-label>
        <ion-input type="text" placeholder="用户昵称" id="nick" name="nick" [(ngModel)]="user.nick" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>电话</ion-label>
        <ion-input type="text" placeholder="联系方式" id="phone" name="phone" [(ngModel)]="user.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>备注</ion-label>
        <ion-input type="text" placeholder="备注信息" id="note" name="note" [(ngModel)]="user.note"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
