<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="ok()">
        保存
      </ion-button>
    </ion-buttons>
    <ion-title>{{ customer.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        取消
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>姓名</ion-label>
      <ion-input required type="text" placeholder="客户姓名" [(ngModel)]="customer.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>电话</ion-label>
      <ion-input type="text" placeholder="联系方式" [(ngModel)]="customer.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>备注</ion-label>
      <ion-input type="text" placeholder="备注信息" [(ngModel)]="customer.note"></ion-input>
    </ion-item>
    <ion-list-header>
      扩展信息
    </ion-list-header>
    <ion-item *ngFor="let p of properties">
      <ion-label fixed>{{ p.key }}</ion-label>
      <ion-input type="text" [(ngModel)]="p.value" placeholder="扩展信息" maxlength="20" minlength="1"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
